# Maven target directory
/target/

# Logs
*.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# NetBeans
nbproject/private/
build/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
